<!--
###################################################################################################
###################################################################################################
######################################### POLARBURR#9201 ##########################################
###################################### CS50W 2020 CAPSTONE ########################################
###################################################################################################
###################################################################################################
-->

{% extends "pecs/layout.html" %}
{% load static %}

{% block title %}{% endblock %}

{% block body %}

    <!--
    ###########################################################################################
    STRIP TABS
    ###########################################################################################
    -->


    <div>
        <div id="div_strip" class="div_strip d-flex flex-column">
            <div class="d-flex justify-content-start align-items-center">
                <div>
                    <button id="iwant" class="active_strip">
                        <img class="tag_img" src="static/pecs/images/iwant.png">
                        <span class="tag_name">I WANT</span>
                    </button>
                </div>
                <div>
                    <button id="firstthen" class="strip">
                        
                        <span class="tag_name">FIRST</span>
                        &#8226;&#8226;&#8226;
                        <span class="tag_name">THEN</span>
                    </button>
                </div>
            </div>
            
    <!--
    ###########################################################################################
    I WANT STRIP
    ###########################################################################################
    -->
            <div id="iwant_view" class="iwant_view">
                <div class="d-flex align-items-center"> 
                    
                    <div class="p-2">

                        <div class="d-flex flex-column justify-content-center align-items-center">
                            <div class="pecs_text">&nbsp;</div>
                            <div>
                                <div id="iwant_div" class="pecs d-flex flex-column justify-content-center align-items-center">
                                    <div class="pecs_img_frame p-">
                                        <div><img class="pecs_img" src="{% static 'pecs/images/iwant.png' %}"></div>
                                    </div>        
                                    <div class="pecs_desc d-flex align-items-center">
                                        <div>I WANT</div>
                                    </div>
                                </div>      
                            </div>
                            <div>&nbsp;</div>
                        </div>

                    </div>

                    <div class="p-2">

                        <div class="d-flex flex-column">
                            <div class="pecs_text">&nbsp;</div>
                            <div id="iwant_pecs" class="pecs active_pecs d-flex flex-column justify-content-center align-items-center" >
                                <div class="pecs_img_frame p-"></div>
                                <div>&nbsp;</div>
                            </div>
                            <div>&nbsp;</div>
                        </div>

                    </div>
                    <div class="p-2">
                        <div class="d-flex flex-column align-items-center">
                            <div>
                                <audio id="iwant_play" src="upload/audio/I want.mp3" preload="auto"></audio>
                                <audio id="iwant_play_alt" src="upload/audio/I want.mp3" preload="auto"></audio>
                                <audio id="iwant_play_pecs" class="active_audio" src="upload/audio/non.mp3" preload="none"></audio>
                                <button class="btn_play" type="button" onclick="play_iwant()" data-toggle="tooltip" data-placement="top" title="play">
                                    <img class="play" alt="play" src="{% static 'pecs/images/play.png' %}">
                                </button>    
                            </div>
                            <div>
                                <button class="btn_play" type="button" onclick="clear_strips()" data-toggle="tooltip" data-placement="top" title="clear">
                                    <img class="play" alt="reset" src="{% static 'pecs/images/reset.png' %}">
                                </button>                        
                            </div>
                        </div>
                    </div>

                </div>

            </div>

    <!--
    ###########################################################################################
    FIRST - THEN STRIP
    ###########################################################################################
    -->
            <div id="firstthen_view" class="firstthen_view">
                <audio id="firstthen_play" src="upload/audio/firstthen.mp3" preload="auto"></audio>
                <div class="d-flex align-items-center">
                    
                    <div class="p-2">                      
                        <div class="d-flex flex-column align-items-center">
                            <div class="pecs_text">FIRST</div>
                            <div id="first_in" class="pecs d-flex flex-column justify-content-center align-items-center">
                                <div class="pecs_img_frame p-">
                                    <div><img class="pecs_img" ></div>
                                </div>
                                <div>&nbsp;</div>
                            </div>
                            <div>&nbsp;</div>
                        </div>
                    </div>

                    <div class="p-2">
                        <div class="d-flex align-items-center">
                            <div><h1>&#8226;&#8226;&#8226;</h1></div>
                        </div>
                    </div>

                    <div class="p-2">
                        <div class="d-flex flex-column align-items-center">
                            <div class="pecs_text">THEN</div>
                            <div id="then_in" class="pecs active_pecs d-flex flex-column justify-content-center align-items-center">
                                <div class="pecs_img_frame p-">
                                    <div><img class="pecs_img" ></div>
                                </div>
                                <div>&nbsp;</div>
                            </div>
                            <div>&nbsp;</div>
                        </div>
                    </div>

                    <div class="p-2">
                        <div class="d-flex flex-column">
        
                            <div>    
                                <audio id="first_play" src="upload/audio/first.mp3" preload="auto"></audio>
                                <audio id="first_play_pecs" src="upload/audio/non.mp3" preload="none"></audio>
                                <audio id="then_play" src="upload/audio/then.mp3" preload="auto"></audio>
                                <audio id="then_play_pecs" class="active_audio" src="upload/audio/non.mp3" preload="none"></audio>
    
                                <audio id="first_play_alt" src="upload/audio/first.mp3" preload="auto"></audio>
                                <audio id="first_play_pecs_alt" src="upload/audio/non.mp3" preload="none"></audio>
                                <audio id="then_play_alt" src="upload/audio/then.mp3" preload="auto"></audio>
                                <audio id="then_play_pecs_alt" class="active_audio" src="upload/audio/non.mp3" preload="none"></audio>
                                
                                <button class="btn_play" type="button" onclick="play_firstthen()" data-toggle="tooltip" data-placement="top" title="play">
                                    <img class="play" alt="play" src="{% static 'pecs/images/play.png' %}">
                                </button>
                            </div>
                            <div>
                                <button class="btn_play" type="button" onclick="clear_strips()" data-toggle="tooltip" data-placement="top" title="clear">
                                    <img class="play" alt="reset" src="{% static 'pecs/images/reset.png' %}">
                                </button>
                            </div>
                        
                        </div>
                    </div>

                </div>

            </div>

        </div>

    <!--
    ###########################################################################################
    CATEGORY TABS
    ###########################################################################################
    -->

        <div class="div_cat">
            <div class="d-flex">

                <div>
                    <audio id="all_play" src="upload/audio/all.mp3" preload="auto"></audio>
                    <button id="cat_0" class="active_cat" value="All" data-toggle="tooltip" data-placement="top" title="All">
                        <img class="tag_img" src="static/pecs/images/tag_all.png">
                        <span class="tag_name">All</span>
                    </button>
                </div>

                {% for tag in tags %}
                <div>
                    <audio id="{{ tag }}_play" src="upload/audio/{{ tag | lower }}.mp3" preload="auto"></audio>
                    <button id="cat_{{ tag.id }}" class="cat" value="{{ tag.id }}" data-toggle="tooltip" data-placement="top" title="{{ tag }}">
                        <img class="tag_img" src="static/pecs/images/tag_{{ tag | lower }}.png">
                        <span class="tag_name">{{ tag }}</span>
                    </button>
                </div>
                {% endfor %}

                {% if user.is_authenticated %}
                <div>
                    <audio id="faves_play" src="upload/audio/faves.mp3" preload="auto"></audio>
                    <button id="cat_99" class="cat" value="Faves" data-toggle="tooltip" data-placement="top" title="Fave"> 
                        <img class="tag_img" src="static/pecs/images/tag_favorites.png">
                        <span class="tag_name">Faves</span>
                    </button>
                </div>
                {% endif %}

                <!--
                <div>
                    TODO
                    <input type="text" placeholder="search">
                    <button>search</button>
                </div>
                -->
            </div>
            
        </div>

    </div>
    
    <!--
    ###########################################################################################
    PECS
    ###########################################################################################
    -->

    <div id="load_pecs" class="load_pecs"></div>
    
    <script src="{% static 'pecs/index.js' %}"></script>


{% endblock %}