{% extends "pecs/layout.html" %}

{% block title %} - Register {% endblock %}

{% block body %}

<div class="div_scroll">
    <div class="user_form">
        <h2>Create an Account</h2>
        Please do not use the same password you use for your other accounts.
        <br><br>
        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input class="form-control" autofocus type="text" name="username" placeholder="Username">
            </div>
            <div class="form-group">
                <input class="form-control" type="email" name="email" placeholder="Email Address">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="Password">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
            </div>
            <input class="btn btn-primary" type="submit" value="Register">
        </form>
        <br>
        Already have an account? <a href="{% url 'login' %}">Log In here.</a>
    
    </div>
</div>



{% endblock %}